
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/$PRODUCT_WORKSPACE_FILE$
.gradle/vcsWorkingDirs/gc.properties
.gradle/4.5.1/fileHashes/fileHashes.lock
.gradle/4.5.1/fileChanges/last-build.bin
.gradle/4.5.1/fileHashes/fileHashes.bin
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/$PRODUCT_WORKSPACE_FILE$
.gradle/4.5.1/fileContent/fileContent.lock
.gradle/4.5.1/fileContent/annotation-processors.bin
.gradle/4.5.1/fileHashes/resourceHashesCache.bin
.gradle/4.5.1/taskHistory/taskHistory.bin
.gradle/4.5.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
*.class
build/resources/main/application.properties
build/resources/main/static/employee_database.json
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
