
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/$PRODUCT_WORKSPACE_FILE$
.gradle/vcsWorkingDirs/gc.properties
.gradle/4.5.1/fileHashes/fileHashes.lock
.gradle/4.5.1/fileChanges/last-build.bin
.gradle/4.5.1/fileHashes/fileHashes.bin
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/$PRODUCT_WORKSPACE_FILE$
